.circleV-container {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14pt;
  justify-content: center;
  margin-left: 8em;
  }

.circleV-form {
  width: 40em;
  padding: 1em;
  padding-top: 2em;
  border: solid 1px hotpink;
  background-color: #ec8585;
}

.circleV-title {
  font-size: 24pt;
}

.circleV-header-container {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-gap: .3em .6em;
  vertical-align: baseline;
}

.circleV-prices-container {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr 1fr;
  grid-gap: 0.3em 0.6em;
  vertical-align: baseline;
}

.circleV-input-phone {
  font-size: 12pt;
  width: 25em;
}

.circleV-message-input {
  font-size: 12pt;
  grid-column: 1 / 3;
  width: auto;
  padding: 4px 7px;
  margin: 4px 4px;
  box-sizing: border-box;
  border-radius: 5px;
}

.circleV-price-input {
  font-size: 12pt;
  padding: 4px 7px;
  margin: 4px 4px;
  box-sizing: border-box;
  width: 6em;
  border-radius: 5px;
  box-align: right;
}

.circleV-desc-other {
  font-size: 12pt;
  padding: 4px 7px;
  margin: 4px 4px;
  box-sizing: border-box;
  border-radius: 5px;
  box-align: right;
}

.circleV-label-right {
  padding: 4px 7px;
  margin: 4px 4px;
  text-align: right;
}

.circleV-text-input {
  font-size: 12pt;
  padding: 4px 7px;
  margin: 4px 4px;
  box-sizing: border-box;
  border-radius: 5px;
  width: 38em;
}

.circleV-input-short {
  width: 15em;
}

.circleV-save-btn {
  font-size: 14pt;
  font-weight: 400;
  width: 5em;
  background:#744a29;;
  color: white;
  border-radius: 4px;
  text-shadow: 0 1px 1px #00000033;
}

.circleV-pdf-iframe {
  height: 1px;
  width: 1px;
  display: none;
}