.nav-bar {
    position: fixed;
    left: 0;
    display: grid;
    grid-template-columns: 3.6;
    grid-template-rows: repeat(5, 6em);
    height: 100%;
    width: 6.5em;
    background-color: #b6a59b ;
    box-shadow: -2px 0px 5px 0px rgb(105, 102, 102);
    z-index: 1;
  }

.pork-icon-container {
  padding-top: .8em;
}

.sheep-icon-container {
  padding-top: 1.5em;
}

.other-icon-container {
  padding-top: 2em;
}

.nav-icon {
  width: 6em;
}


.search-icon {
  width: 5.5em;
  padding-top: 2.8em;
  padding-left: .4em;
}

.settings-icon-container {
  margin-top: 3.2em;
  margin-left: .2em;
}

.settings-icon {
  width: 5.8em;
}